table, th, td {
    padding: 10px 15px;
    border-collapse: collapse;
    border: 1px solid #000;
}

caption {
    border-radius: 15px 15px 0 0;
    padding: 5px 10px;
    border: 1px solid #000;
    border-bottom: 1px solid transparent;
}